/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    display: flex; /* Add this */
    flex-direction: column; /* Add this */
    min-height: 100vh; /* Add this */
}

header {
    background-color:rgb(174, 146, 119);
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav ul li a{
    border: 1px solid rgb(2, 2, 11);
    padding: 5px 10px;
    color: rgb(3, 3, 9);
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: rgb(5, 5, 15);
    color: white;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    flex: 1; /* Add this */
    padding: 2rem;
}

.project {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container label,
.form-container input,
.form-container textarea,
.form-container button {
    margin-bottom: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

