
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

body {
    margin: 0;
    padding: 0;
    background: url("Images/pure white background.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color:rgb(174, 146, 119);
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav ul li a{
    border: 1px solid rgb(2, 2, 11);
    padding: 5px 10px;
    color: rgb(3, 3, 9);
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: rgb(59, 32, 32);
    color: white;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    flex: 1; 
    padding: 2rem;
}

.project {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: sticky;
    bottom: 0;
    padding: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
}

.about-content {
    font-size: 18px;
    line-height: 1.6;
    color: black; 
}

.fun-text {
    color: #ff5722; 
}

.education-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.education-table th,
.education-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

.education-table th {
    background-color: #f2f2f2;
    width: 20%;
}

.Introduction,.project-title,.project{
    color: black;
}

img {
    width: 50px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add space between icons */
}

.project-title {
    /* display: none; */
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-transform: lowercase;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}


